body {
    background: linear-gradient(90deg, rgba(78,11,125,1) 0%, rgba(9,54,121,0.8001401244091386) 54%, rgba(0,212,255,1) 100%);
    height: 100vh;
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin: 50px;
    width: 40em;
    height: auto;
}

.date {
    font-family: sans-serif;
}

.kick_off p {
    /* border: 1px solid black; */
    padding: 0px auto;
    margin: 0px;
    font-family: monospace;
}

.flex {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    /* border: 1px solid blue; */
}


.home {
    flex: 1;
    flex-basis: 0;
    text-align: right;
    font-family: monospace;
}

.home p {
    background-color: aliceblue;
}

.away {
    flex: 1;
    flex-basis: 0;
    text-align: left;
    font-family: monospace;
}

.away p {
    background-color: aliceblue;
}

.score {
    margin: 0 20px 0 20px;
}

.score p {
    color: white;
    background-color: red;
    padding: 1px 10px;
    text-align: center;
    font-family: monospace;
}

