<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Live Football Scores</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="date">
                <h4>{{ mmyy }}</h4>
                <h3>{{ date }}</h3>
            </div>
            <div class="scores">
                {% for ko, ht, at, hts, ats in zip(kick_off, home_team, away_team, home_team_scores, away_team_scores) %}

                <div class="kick_off">
                    <p>{{ ko }}</p>
                </div>

                <div class="flex">
                    <div class="home">
                        <p>{{ ht }}</p>
                    </div>
                    <div class="score">

                        <p>{{hts}} - {{ ats }}</p>
                    </div>
                    <div class="away">
                        <p>{{ at }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>